
<!-- FOOTER SIDEBAR -->
<div id="outerfootersidebar">
    <div class="main bg-white">
        <div class="container">
            <div class="shadow"></div>
            <div id="footersidebarcontainer" class="twelve columns">
                <footer id="footersidebar">
                    <div id="footcol1"  class="three columns alpha">
                        <ul>
                            <li class="widget-container">
                                <h2 class="widget-title">About Us</h2>
                                <p>Tressling is about transforming businesses.  Our Private Equity group transforms businesses by investing its time, </p>
                                <p>capital, and experience to create larger and more profitable organizations .</p>
                            </li>
                        </ul>
                    </div>

                    <div id="footcol3"  class="three columns">
                        <ul>
                            <li class="widget-container">
                                <h2 class="widget-title">Categories</h2>
                                <ul>
                                    <li class="current"><a href="index-2.html">Home</a></li>
                                    <li><a href="element.html">Private Equity</a></li>
                                    <li><a href="column.html">Management</a></li>
                                    <li><a href="pricing.html">Partnerships</a></li>
                                    <li><a href="single.html">Media and New</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                                <div class="clear"></div>
                            </li>
                        </ul>
                    </div>
                    <div id="footcol4"  class="three columns omega">
                        <ul>
                            <li class="widget-container">
                                <h2 class="widget-title">Find Us on Map</h2>
                                <div class="textwidget">
                                    <img src="system/cms/themes/default/img/content/map.png"  alt="" class="alignnone">
                                    <p></p>

                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </footer>

            </div>
        </div>
    </div>
</div>

<!-- END FOOTER SIDEBAR -->

<!-- FOOTER -->
<div id="outerfooter">
    <div class="main bg-grey">
        <div class="container">
            <div id="footercontainer" class="twelve columns">
                <footer id="footer">All rights reserved for the benefit of <a href="#">Tressling Capital Corp</a>  &copy; | Brought To You By <a href="#">Virtual Integrated Projects.</a></footer>
                <div id="toTop"><span>back to top</span> &uarr;</div>
            </div>
        </div>
    </div>
</div>
<!-- END FOOTER -->

</div><!-- end outercontainer -->
</div><!-- end bodychild -->

<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
{{ theme:js file='jquery-1.6.4.min.js' }}
{{ theme:js file='jquery-easing-1.3.js' }}

<!-- jQuery Superfish -->
{{ theme:js file='hoverIntent.js' }}
{{ theme:js file='superfish.js' }}
{{ theme:js file='supersubs.js' }}


<!-- jQuery Layerslider -->
{{ theme:js file='layerslider.kreaturamedia.jquery-min.js' }}

<script type="text/javascript">
    jQuery(window).load(function() {

        jQuery('#layerslider').hover(function(){
                    jQuery('a.ls-nav-prev,a.ls-nav-next').fadeTo('slow',1);
                },
                function(){
                    jQuery('a.ls-nav-prev,a.ls-nav-next').fadeTo('slow',0);
                });

        jQuery('#layerslider.slideritems').layerSlider({
            skinsPath : 'system/cms/themes/default/img/layerslider-skins/',
            skin : 'broadway',
            autoStart : true,
            cbInit: function(){jQuery('a.ls-nav-prev,a.ls-nav-next').css('display','none');	},
        });
    });
</script>


{{ theme:js file='jquery.prettyPhoto.js' }}
{{ theme:js file='fade.js' }}

{{ theme:js file='custom.js' }}
