<!-- AFTER HEADER -->
<div id="outerafterheader">
    <div class="opacitytop"></div>
    <div id="headerimg"><img alt="" src="system/cms/themes/default/img/header/header3.jpg"/></div>
</div>
<!-- END AFTER HEADER -->

<!-- BEFORE CONTENT -->
<div id="outerbeforecontent">
    <div class="main">
        <div class="container">
            <div class="twelve columns" id="beforecontent">
                <div class="pagetitle-container">
                    <h1>{{template:title}}</h1>
                    <span class="desc"></span>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<!-- END BEFORE CONTENT -->

<!-- MAIN CONTENT -->
<div id="outermain">

    <div class="main bg-white">
        <div class="shadow"></div>
        <div class="container">
            <section id="maincontent" class="twelve columns">

                {{template:body}}

                <div class="clear"></div><!-- clear float -->
            </section>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->