<meta charset="utf-8" />

<meta name="description" content= "" />
<meta name="keywords" content="" />


<meta name="viewport" content="width=device-width">
<meta name="language" content="{{ lang:code }}" />


<base href="{{ url:base }}" />


<meta property="og:title" content="" />
<meta property="og:type" content="activity" />
<meta property="og:url" content="http://virtualtour.sa/" />
<meta property="og:image" content="" />
<meta property="og:site_name" content="virtualTour" />

<link rel="shortcut icon" href="system/cms/themes/default/img/favicon.ico" />


<!-- CSS
================================================== -->
<!--
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
-->

{{ theme:css file="skeleton.css" }}
{{ theme:css file="prettyPhoto.css" }}
{{ theme:css file="style.css" }}
{{ theme:css file="inner.css" }}
{{ theme:css file="layerslider.css" }}
{{ theme:css file="color.css" }}



<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

{{ template:metadata }}



<script type="text/javascript">



$(document).ready(function() {

});

 
</script>

<title>{{ settings:site_name }}&nbsp;&bull;&nbsp;{{ template:title }}</title>
