Options +FollowSymLinks
RewriteEngine on

## internal Link
RewriteRule ^index.php$ public/home.php [L,NC]
RewriteRule ^codexCP/(.*)$ public/admin/$1 [L,NC]

RewriteRule ^library/(.*)$ public/library/$1 [L,NC]
RewriteRule ^css/(.*)$ public/files/css/$1 [L,NC]
RewriteRule ^images/(.*)$ public/files/images/$1 [L,NC]
RewriteRule ^js/(.*)$ public/files/js/$1 [L,NC]
RewriteRule ^swf/(.*)$ public/files/swf/$1 [L,NC]


ExpiresActive On
ExpiresDefault "access plus 4 hours"
ExpiresByType text/xml M1

<IfModule mod_rewrite.c>

<Files "AFADAR_CORE.php">
Order Allow,Deny
Deny from All
</Files>

<Files "AFADAR_CPANEL.php">
Order Allow,Deny
Deny from All
</Files>

<Files "configs.php">
Order Allow,Deny
Deny from All
</Files>

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/index.php
RewriteCond %{REQUEST_URI} (/|\.php|\.html|\.htm|\.codex|/[^.]*)$  [NC]
RewriteRule (.*) index.php
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]

# Block out any script trying to set a mosConfig value through the URL
RewriteCond %{QUERY_STRING} mosConfig_[a-zA-Z_]{1,21}(=|\%3D) [OR]
# Block out any script trying to base64_encode crap to send via URL
RewriteCond %{QUERY_STRING} base64_encode.*\(.*\) [OR]
# Block out any script that includes a <script> tag in URL
RewriteCond %{QUERY_STRING} (\<|%3C).*script.*(\>|%3E) [NC,OR]
# Block out any script trying to set a PHP GLOBALS variable via URL
RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
# Block out any script trying to modify a _REQUEST variable via URL
RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
# Send all blocked request to homepage with 403 Forbidden error!
RewriteRule ^(.*)$ index.php [F,L]

</IfModule>