/* @font-face */ 
@font-face {
 font-family: "droidsans";
 font-style: normal;
 font-weight: normal;
 src: url('fonts/droidsans.eot?');
 src: local("droidsans"), url("fonts/droidsans.woff") format("woff"), url("fonts/droidsans.ttf") format("truetype"), url("fonts/droidsans.svg#droidsans") format("svg");
}
/******************
GLOBAL PROPERTRIES
******************/
*, html {
	margin:0 auto;
	padding:0;
	font-family:droidsans, Tahoma, Geneva, sans-serif;
	direction:rtl;
}
body {
	width:100%;
	height:auto;
	background:#d9d9d9;
	text-align:right;
	margin:auto;
	padding:0;
}
img {
	border:0px;
}
ul, li, a {
	list-style:none;
	font-family:droidsans, Tahoma, Geneva, sans-serif;
	text-decoration:none;
	color:#000;
}
a {
	outline: none;  /* prevents dotted line when link is active */
}
a:hover {
	color:#990000;
}
p, span {
	padding:0;
	margin:0;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:13px;
}
h1 {
	font-family:droidsans, Tahoma, Geneva, sans-serif;
	font-size:22px;
	font-weight:normal;
}
h2 {
	font-family:droidsans, Tahoma, Geneva, sans-serif;
	font-size:18px;
	font-weight:normal;
}
h3 {
	font-family:droidsans, Tahoma, Geneva, sans-serif;
	font-size:15px;
	font-weight:normal;
}
.clear {
	clear:both;
}
.more {
	color:#01afeb;
	background:url(../img/more.png) left no-repeat;
	padding-left:15px;
	cursor:pointer;
	float:left;
}
.more:hover {
	color:#000;
}
.main {
	width:1128px;
	margin:auto;
	padding:0;
	background:#FFF;
}
.page_container {
	width:1050px;
	margin:auto;
	padding:0;
}
.highlight {
	color:#f5ca35 !important;
}
a.read_more {
	background: url("../img/read_more.jpg") repeat scroll 0 0 transparent;
	color: #FFFFFF;
	float: left;
	height: 37px;
	line-height: 38px;
	text-align: center;
	width: 90px;
}
a.read_more:hover {
	background:url(../img/more_hover.jpg)
}
.separator {
	width:100%;
	float:right;
	height:10px;
}
.line {
	background: none repeat scroll 0 0 #CCCCCC;
	height: 2px;
	margin: 20px 0;
	width: 100%;
}
.gray_highlight {
	color:#999 !important;
}
/******************
TOP BORDER
******************/
.top_border {
	height:8px;
	width:100%
}
.top_border div {
	width:25%;
	float:right;
	height:8px;
}
.top_border1 {
	background:#70aa20;
}
.top_border2 {
	background:#f9a90f;
}
.top_border3 {
	background:#c23232;
}
.top_border4 {
	background:#b54a9a;
}
/******************
START HEADER
******************/
.header {
	width:1050px;
	margin:auto;
	position:relative;
	padding:20px 0 0 0;
}
.header a.lang_selector {
	color: #990000;
	float: right;
	font-size: 12px;
}
.header a.lang_selector:hover {
	color:#000
}
.header div.social {
	float: right;
	margin-top: 15px;
	width:100%;
}
.header div.social ul li {
	float:right;
	margin-left:3px;
	width:29px;
	height:29px;
}
.header div.social a {
	text-indent:-99999999999px;
	overflow:hidden;
	display:block;
	width:29px;
	height:29px;
}
.header div.social .facebook {
	background: url("../img/social_btns.png") repeat scroll 88px 0 transparent;
}
.header div.social .twitter {
	background: url("../img/social_btns.png") repeat scroll 57px 0 transparent;
}
.header div.social .youtube {
	background:url(../img/social_btns.png);
}
.header div.social .rss {
	background: url("../img/social_btns.png") repeat scroll 28px 0 transparent;
}
.header div.logo {
	left: 0px;
	position: absolute;
	top: 18px;
}
.header div.top_menu {
	float: right;
	margin-bottom: 10px;
	margin-top: 17px;
	
}
.header div.top_menu ul {
	direction:rtl;
}
.header div.top_menu ul li {
	float: none;
	display: inline;
	margin-right:10px;
	color:#000;	
}
.header div.top_menu ul li a {
	color:#000;
	display:inline;
	text-decoration:none;
	float:none;
}
.header div.top_menu ul li a:hover {
	color:#990000;
	text-decoration:underline;
}
/***********************
MAIN MENU
******************************************/
.main_menu {
	width:1050px;
	height:55px;
	background:url(../img/menu_bg.jpg);
	color:#FFF;
}
.main_menu p {
	float: right;
	line-height: 47px;
	margin-left: 30px;
	padding-right: 12px;
	width: 422px;
	height:55px;
}
.main_menu ul {
	float: left;
	height: 55px;
	width: 570px;
}
.main_menu ul li {
	display: inline;
	float: none;
	width: 95px;
	line-height: 50px;
}
.main_menu ul li a {
	color: #FFFFFF;
	display: inline;
	height: 55px;
	text-align:center;
	padding: 0px 15px 0px 15px;
	float: right;
}
.main_menu ul li a:hover, .current {
	background:url(../img/menu_hover.jpg);
}
/***********************
TOP SLIDER
***********************/
.top_slider {
	width:1050px;
	overflow:hidden;
}
/******************
START BODY CONTENT
**********************/

.content, .content_articles {

	margin: auto;
	width: 1049px;
}
/******************
Boxes
**********************/
.boxes {
	float:right;
	width:260px;
	margin:2px 0 0px 2px;
	height:263px;
	position:relative
}
.boxes a {
	cursor:pointer;
	color:#FFF;
}
.boxes .box_btn {
	float: left;
	height: 33px;
	margin: 10px 0 0 10px;
	text-align: center;
	width: 97px;
}
.boxes a:hover {
	color:#000;
}
.boxes div.box_title {
	background: url("../img/boxes_title.png") repeat scroll 0 0 transparent;
	color: #FFFFFF;
	float: right;
	height: 50px;
	line-height: 50px;
	margin-bottom: 15px;
	text-align: right;
	width: 100%;
}
.boxes div.box_title span {
	font-family: droidsans, Tahoma, Geneva, sans-serif;
	font-size: 15px;
	padding-right: 20px;
}
.box1 {
	background:#70aa20;
}
.box1 p {
	padding: 0 10px 10px;
}
.box1 input {
	border: 0 none;
	border-radius: 15px 15px 15px 15px;
	height: 25px;
	margin: 10px;
	padding-right: 20px;
	width: 183px;
}
.box1 div.checkbox {
	font-size: 15px;
	height: 27px;
	padding: 5px 18px 0 0;
}
.box1 div.checkbox input {
	float: right;
	margin: 0 auto 0 5px;
	width: auto;
}
.box1 a {
	background:url(../img/red_btn.png) transparent;
	border:0;
	text-decoration:none
}
.box2 {
	background:#f9a90f
}
.box2 p {
	padding: 0 10px 10px;
}
.box1_btn {
	bottom: 9px;
	left: 0;
	position: absolute;
}
.box2_btn {
	bottom: 9px;
	left: 0;
	position: absolute;
}
.box3_btn {
	bottom: 9px;
	left: 0;
	position: absolute;
}
.box2 div.preview {
	float: right;
	margin: 5px 19px 5px 0;
	width: 235px;
}
.box2 div.preview img {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 2px solid #FFFFFF;
	border-radius: 2px 2px 2px 2px;
	float: right;
	margin-left: 15px;
}
.box2 a {
	background:url(../img/green_btn.png);
}
.box3 {
	background:#c23232
}
.box3 p {
	padding-left: 8px;
}
.box3 img {
	float:right;
	padding:3px;
}
.box3 span {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
}
.box3 a {
	background:url(../img/orange_btn.png);
}
.box4 {
	background:#b54a9a
}
.box4 img {
	padding:0 10px 0 0;
}
/*********************************
ARTICLES
***********************************/
.content_articles {
	padding-top:15px;
	margin:0px;
	overflow:hidden;	
	background-color:#cecece;
}
.article_title {
	background: url("../img/marker.jpg") no-repeat scroll right center transparent;
	float: right;
	font-size: 18px;
	margin: 0 0 20px;
	padding-right: 24px;
	text-align: right;
	width: 100%;
}
.content_articles .right_div {
	float: right;
	padding: 15px 10px;
	width: 48%;
}
.content_articles .left_div {
	float: left;
	padding: 15px 10px;
	width: 48%;
}
/**********************************
FOOTER
********************************/
.footer {
	width:1050px;
	margin:auto;
	padding:20px;
}
.footer p {
	width:100%;
	text-align:center;
}
.footer .menus {
	float:right;
	width:18%;
}
.footer .menus .article_title {
	background:none !important;
	float: right;
	font-size: 18px;
	margin: 0 0 20px;
	padding-right: 0px !important;
	text-align: right;
	width: 100%;
}
.menus ul li a {
	font-size:14px;
}
.footer .sec5 p {
	direction: ltr !important;
	float: left;
	margin-top: 20px;
	text-align: left !important;
	width: 100%;
}
.footer .sec1 img {

	padding: 19px 46px 0 0;
}
.footer .sec5 img {
	float: left;
	margin-right: 15px;
}
.footer .sec5 span {
	float: left;
	direction:ltr;
}
/************************
INNER PAGES
*************************/
/************************
PAGE 1
**************************/
.inner_pages .right_div {
	background: none repeat scroll 0 0 #f6f6f6;
	width: 28%;
}
.inner_pages .content_articles .right_div {
	border-radius: 6px 6px 6px 6px;
	float: right;
	margin-right: 7px;
	margin-top: 6px;
	padding: 15px 10px 0;
}
.inner_pages .content_articles {
	padding-bottom:0 !important
}
.inner_pages .right_div p {
	text-align:justify;
}
.inner_pages .left_div {
	width:67%;
}
.inner_pages .left_div div img {
	float:right;
	margin:0 0 5px 5px;
	border:3px solid #FFF;
	border-radius:3px;
}
.links {
	width:50%;
	float:right;
}
.links li a {
	color:#469FD5;
}
.links li a:hover {
	text-decoration:underline;
}
/************************
PAGE 2
**************************/
.right_div p {
	text-align:justify;
}
.right_div p img {
	float:right;
	margin:0 0 5px 5px;
	border:3px solid #FFF;
	border-radius:3px;
}
.content_articles .left_div {
	background: none repeat scroll 0 0 #F6F6F6;
	float: right;
	padding: 15px 10px;
	width: 47%;
	border-radius: 10px 10px 10px 10px;
}
/************************
PAGE 3
**************************/
.inner_pages3 {
	padding-bottom:0 !important;
}
.inner_pages3 .main2 {
	width:100% !important;
	padding:0px;
}
.inner_pages3 .main2 .fullwidth_div {
	float: right;
	padding-right: 10px;
	padding-top: 15px;
	width: 750px;
}
.inner_pages3 .main2 .fullwidth_div2 {
	width:500px
}
.inner_pages3 .main2 .fullwidth_div3 {
	width:500px
}
.inner_pages3 .main2 .fullwidth_div4 {
	width:750px
}
.content4 .box4 {
	float:left;
}
.inner_pages3 .quarter_width {
	background: none repeat scroll 0 0 #f6f6f6;
	width: 242px;
}
.inner_pages3 .main2 .fullwidth_div3_right {
	padding-left: 10px;
	width: 504px;
}
