.css3button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #050505;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ebebeb 50%,
		#dbdbdb 50%,
		#b5b5b5);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		color-stop(0.50, #ebebeb),
		color-stop(0.50, #dbdbdb),
		to(#b5b5b5));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #a8a8a8;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);
}
a{color:#000}
a{text-decoration:none;}
a:hover{color:#c00d0e}
  
 /* Breadcrumbs */
#forum_breadcrumbs { padding: 10px; clear: both; text-align: right; direction: rtl; font-family: Tahoma; font-size: 12px; font-weight: bold; color: #7d7d7d; text-shadow: 1px 1px 0px #ffffff; }
#forum_breadcrumbs a:hover { text-decoration: underline; }
   
#wrapper{
width:1076px;
margin: 0 auto;
min-height:500px;
position:relative;
background:url(../img/bg.jpg) center top no-repeat;
}

#header{
	width:100%;
    height:10px;
    position: relative;
    top:0px;
}
#logo{
	width:88%;
	height:100px;
    margin:0px auto;
	background:url(../img/logo.png) no-repeat center right;

	}
#container{
	width:100%;
    margin: 0px auto;
	position:relative;

	}
#page-wrap{
    height:100%;
	position:relative; 
	height:100px;
}
#film_bg{
	width:100%;
	height:584px;
    margin-top: 58px;
	background: url(../img/film222.jpg) no-repeat center top;
	}
.follow_us{
	width:150px;
	height:40px;
	float:right;
    position: absolute;
    right:0;
	top:600px;
}.follow_us img{
	margin-left:10px;
	}
/*----------------top nav---------------------------*/
#top_nav{
	width:92%;
	height:54px;
	margin:0px auto;
																																																																																																																																																						
}
#l_top_nav{
	width:9px;
	height:54px;
	background: url('../img/l_uper.png') no-repeat;
	float:left;
	}
#m_top_nav{
	width:550px;
	height:54px;
	background: url('../img/m_uper.png') repeat-x;
	float:left;
}

#r_top_nav{
	width:61px;
	height:54px;
	top:0;
	background: url('../img/r_uper.png') no-repeat;
	float:left;
}
#m_s_top_nav{
	width:360px;
	height:9px;
	background: url('../img/m_s_uper.png') repeat-x;
	float:left;

}
#r_s_top_nav{
	width:9px;
	height:9px;
	top:0;
	background: url('../img/r_s_uper.png') no-repeat;
	float:left;
}
#new-user{
	width:145px;
	height:36px;
	float:left;
	margin-top:4px;
	}
#enter{
	width:68px;
	height:30px;
	float:left;
	margin-top:5px;
	margin-left:20px;
	padding-right:10px

}
#form{
	position:absolute;
	top:0;
	}
/*-------------end of header-------------------*/


/*------------------main nav-----------------------------*/

#nav{	
	width:91%;
	height:38px;
    margin:0px auto;
	padding-top:2px;
	
}
#l_nav{
	width:10px;
	height:38px;
	background:url(../img/l_nav.png) no-repeat;
	float:left;		
}

#m_nav{
	width:539px;
	height:38px;
	background:url(../img/m_nav.png) repeat-x;
	float:left;
}
.links{
	text-align:right;
	direction:rtl;
	margin-top:12px;
	font-weight:bold;
	}
.links a{
	color:#fff;
	padding-left:5px;
    text-decoration:none;
	}
.links a:hover{
	color:#c00d0e;
	}

.links li{
	font-size:8pt;
	display:inline;
	padding-right:10px;
	border-right:solid 2px #9c9c9c ;
	font-family:Tahoma, Geneva, sans-serif;
	}
li:first-child{
	border:none
	}

#r_nav{
	width:61px;
	height:38px;
	background:url(../img/r_nav.png) no-repeat;
	float:left;		
}
#short_news{
	width:94%;
	height:35px;
    margin: 0px auto;
}
#l_lshort_news{
	width:7px;
	height:37px;
	float:left;
	background:url(../img/l_news.png) no-repeat;
}
#m_short_news{
	width:858px;
	height:37px;
	float:left;
	background:url(../img/m_news.png) repeat-x;
	font-family:Tahoma, Geneva, sans-serif;
	padding-top:9px;
	text-align:right;
	direction:rtl;
	font-size:9pt;
}
#l2_short_news{
	width:103px;
	height:37px;
	float:left;
	background:url(../img/l_news2.png) repeat-x;
	text-align:center;
	color:#fff;
	font-family:Tahoma, Geneva, sans-serif;

}
#r_short_news{
	width:7px;
	height:37px;
	float:left;
	background:url(../img/r_news2.png) no-repeat;
}

/*-----------end of main nav---------------------*/
/*---------------search bar ------------------------*/
#search_bar{
	width:100%;
	height:37px;
    margin:0 auto;
	font-size:14pt;
}
#search_bar p{
	width:10%;
	float:right;
    margin:0px auto;
	font-weight:bold;
}



#l_search_bar{
	width:7px;
	height:37px;
	background:url(../img/search_bar.png) no-repeat;
	float:left;
}
#m_search_bar{
	width:1050px;
	height:37px;
	background:url(../img/m_news.png) repeat-x;  
    float: left;
}
#search_area{
	float:left;
	width:230px;
	height:30px;
	margin-left:10px;
}
#search_area input{
	border-radius: 5px;
	float: right;
	width: 200px;
	margin-top: 7px;
	font-size:10pt;
	height:20px;

}
.links_1{
	direction:rtl;
	text-align:right;
	color:#c21c1d;
	font-size:13px; 
	width:650px;
	float:right;
	margin-top:8px;
	font-family:Tahoma, Geneva, sans-serif;


}


.links_1 li{
	display:inline;
	font-family:Tahoma, Geneva, sans-serif;
	border-right:groove 2px #000;
}
.links_1 a{
	text-decoration:none;
	padding-right:10px;
  padding-left:10px;
}
	

#r_search_bar{
	width:7px;
	height:37px;
	background:url(../img/r_search_bar.png) no-repeat;
	float:left;
}
#search_resault{
	width:257px;
	height:180px;
    float:left;
    margin-left:20px ;
}

#l_resault{
	width:5px;
	height:157px;
	float:left;
	background:url(../img/left_res.jpg) no-repeat;
	
}
#m_resault{
	width:247px;
	height:157px;
	float:left;
	position:relative;
	background:url(../img/midle_res.jpg) repeat-x;
	
}
#r_resault{
	width:5px;
	height:157px;
	float:left;
	background:url(../img/right_res.jpg) no-repeat;
	}
#bottom_res{
	width:257px;
	height:15px;
	background:url(../img/bottom_res.jpg) no-repeat;	
	float:left
	}
#user_rs{
	width:90%;
	height:40px;
	float:left;
	margin:10px 0 0 10px;
	border-bottom:groove #c5c5c5 1px;
	background:url(../img/user_res.jpg) no-repeat right top;
}
#user_rs p{
	width:100px;
	height:15px;
	float:right;
	margin:10px 40px 0 0px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:9pt;
	font-weight:normal;
}
#user_rs p a{
	text-decoration:none;
	}
.more_res{
	position:absolute;
	bottom:5px;
	right:65px;
	direction:rtl;
	font-weight:bold;
	font-size:8pt;
	font-family:Tahoma, Geneva, sans-serif;
}

/*----------------------end of search bar------------------------------------*/

/*--------------------photos,videos,comments.sub------------------------*/
#Updates_1{
	width:65%;
	height:200px;
	float:right;
	margin-top:10px;

	}
#photo{
	height:120px;
	width:450px;
	margin:40px 0 0 15px;
	float:left;
}

.photo{
	margin-left:15px;
	float:left;
	border:groove #fff 2px;
	height:91px;
	}

/*-------------------- end of photos,videos,comments.sub------------------------*/

#advertise_area{
	width:730px;
	height:100px;
	float:right;
	}
#advertise_area img{
	width:728px;
	height:90px;
	}
#advertise_area_1{
	width:250px;
	height:490px;
	float:left;
	margin-left:20px;
}
/*-------------videos area----------------*/
#new_drama{
	width:700px;
	height:225px;
	float:right;
	border-bottom:groove #dddddd 3px;
	margin-top:15px;
}
#new_drama h3{
	font-family:Tahoma, Geneva, sans-serif;
	border-bottom:groove #dddddd 3px;
	text-align:right;
	padding-bottom:10px;
	color:#a6a6a6;
	font-weight:bold;
	font-size:14pt;
	margin-right:12px;
}
#new_videos{
	width:215px;
	height:164px;
	float:left;
	margin-left:12px;
	margin-top:13px;
	position:relative;
		
}
.play{
	width:54px;
	height:54px;
	position:absolute;
	top:35%;
	right:35%;
	background:url(../../img/play.png) center center no-repeat;
	}
/*-------------end of videos area----------------*/

/*--------------------`------------------------*/
#footer{
	background:url(../img/footer1.jpg) repeat-x bottom ;
	width:100%;
	height:342px;
	float:left;
	
	
}
#footer a{
	color:#c00d0e;
	text-decoration:none;
	}
#footer a:hover{
	color:#000;
	text-decoration:none;
	}

.copyright{
	width:30%;
	float:right;
	font-size:9pt;
	font-family:Tahoma, Geneva, sans-serif;
	text-align:right;
	margin:10px 4% 0 0;
}

#programing{
	width:30%;
	float:left;
	font-family:Tahoma, Geneva, sans-serif;
	color:#333;
	font-size:12px;
	text-align:left;
	margin:10px 0 0 4%;
}


#updates{
	width:1076px;
	height:341px;
	top:0;
	margin:0 auto;
	font-size:14pt;
	font-family:Tahoma, Geneva, sans-serif;
	
	}
#twe_upd{
	width:27%;
	height:260px;
	float:left;
	margin-left:6%;
	margin-top:50px;
	background:url(../img/t_logo2.jpg ) no-repeat center center;
	
	
	}
#twe_up_title{
	width:100%;
	height:50px;
	background:url(../img/t_logo.jpg) no-repeat left center;
	border-bottom:groove #CCC 2px;
	color:#d4d4d4;
	text-align:right;


}	
#rss_upd{
	width:27%;
	height:260px;
	float:left;
	margin-left:6%;
	margin-top:50px;
	background:url(../img/rss_logo2.jpg) no-repeat center center;

}
#rss_up_title{
	width:100%;
	height:50px;
	background:url(../img/rss_logo.jpg) no-repeat left center;
	border-bottom:groove #CCC 2px;
	color:#d4d4d4;
	text-align:right;

	}
	#face_upd{
	width:27%;
	height:260px;
	float:left;
	margin-left:6%;
	margin-top:50px;
	background:url(../img/face_logo2.jpg) no-repeat center center;
	
	}
#face_up_title{
	width:100%;
	height:50px;
	background:url(../img/face_logo.jpg) no-repeat left center;
	border-bottom:groove #CCC 2px;
	color:#d4d4d4;
	text-align:right;

	}
#footer_1{
	width:1180px;
	height:32px;
	margin:0 auto 0 auto;
	background:url(../img/footer2.jpg) repeat-x;
	border-left: groove 2px #cccccc; 
	border-right: groove 2px #cccccc;
}
/*--------------------end of footer------------------------*/

/*------------------------end of main page------------------------------*/

/*---------------------profile page----------------------- */
#user_info{
	width:520px;
	height:41px;
	float:left;
	margin-top:5px;
}

#user_photo {
width:140px;
height:41px;
float:right;
}
#user_photo  img{
width:40px;
height:41px;
border:solid 2px #f7f7f7;
float:right;
}
#user_photo  h3{
	font-size:9pt;
	font-weight:bold;
	text-align:center;
	color:#555555;
    font-family: tahoma;
}
#user_photo  h5{
	float:right;
	font-size:7pt;
	line-height:25px;
	margin-right:10px;
	color:#555555;
}
.user_links{
	width:340px;
	float:left;
	margin:7px 0 0 30px;
	text-align:left;
	direction:rtl;
}
.user_links a:link{
	color:black;
	text-decoration:none;
}
	.user_links a:visited{
	color:black;
	text-decoration:none;
}
.user_links a:hover{
	color:#d04a4a;
	text-decoration:none;
}
.user_links ul{
		display:inline;		
}
.user_links li{
	font-size:12px;
	display:inline;
	border-right:groove #d9d9d9 2px ;
	font-family:Tahoma, Geneva, sans-serif;
}
li:first-child{
	border:none
	}
.user_links a{
	color:black;
	text-decoration:none;
	padding-right:5px;
	padding-left:5px;
	
}

.profile_content{
	width:100%;
	position:relative;
	font-family:Tahoma, Geneva, sans-serif;
	float:left
}
#profile_pic{
	width:155px;
	height:155px;
	float:left;
	}
#profile_pic img{
  border:solid #fff 1px;
	}
#profile_info{
	width:550px;
	background: #fff url(../img/pro_info_bg.jpg) top repeat-x;
	margin:41px 0 0 120px;
	float:left;
	position:relative;
	min-height:450px;

	}
#status{
	width:100%;
	height:130px;
	float:left;
	}
.status_area{
	width:480px;
	height:60px;
	float:left;
	margin:10px 0 0 30px;
	}
.status_submit{
	 float:right; margin-top:10px; color:#FFF;
	width:50px; margin-right:40px; background:#3b81b8;
	-webkit-border-radius: 4px; font-size:13px;	
	-moz-border-radius: 4px;
	 border-radius: 4px
	}
.status_pic{
	float:left;
	margin:8px 0 0 50px;
	height:30px;
	font-size:9pt;
	font-weight:bold;
	color:#000;
	}
.status_pic img{
	padding-top:5px;
	padding-right:10px;

	}
#prof_vid{
	width:100%;
	height:130px;
	margin:10px auto;
	float:left;
	
	}
#wall_area{
	width:100%;
	float:left;
	margin-top:30px;
	}
#wall_area_img{
	width:50px;
	height:50px;
	float:right;
	padding-left:3px;
	margin:0px 10px 0 0;
	}
#wall_area_img img{
	max-width:50px;
	max-height:50px;
	}
.wall_name{
	float:right;
	font-size:9pt;
	font-weight:bold;
	color:#3b5998;
	height:10px;
	}
.date_wall{
	float:left;
	margin-left:50px;
	font-size:9pt;
	text-align:right;
	height:10px;
	}
.date_wall img{
	padding-top:5px;
	padding-right:10px;
	}
.wall_content_info{
	width:480px;
	float:left;
	margin-top:8px;
	font-size:7pt;
	color:#808080;
	line-height:18px;
	
	}
.wall_content_info p{
	width:25%;
	float:right;
	padding-right:5px;
	
	}
.wall_content_info a{
	color:#000;
	text-decoration:none;
	font-size:7.5pt;
	padding-right:5px;
	}


.wall_content_info a:hover{
	color:#c00d0e;

	}

.in_ur_mind{
	width:460px;
	float:right;
	margin-top:7px;
	font-size:9pt;
	border-right:solid #cccccc 2px;
	color:#808080;
	padding-right:5px;
}
.in_ur_mind h3{
	font-size:9pt;
	font-weight:bold;
	color:#3b5998;
}

.wall_content{
	width:550px;
	float:left;
	text-align:right;
	min-height:50px;
    margin-bottom: 50px;
	}
.comment_area{
	width:400px;
	border:solid #f1f1f1 1px;
	margin:10px 0 0 80px;
	float:left;
	position:relative;
	background-color:#f7f7f7
}
.commenter{
	padding-bottom:5px;
	width:100%;
	background:url(../img/comment_bg.jpg) top repeat-x;
	text-align	:right;
	direction:rtl;
	min-height:48px;
	font-size:8pt;
	float:left;
	
	}
.commenter_text{
	width:87%;
	text-align:right;
	padding-top:10px;
	float:left;
	}
#text_box{
	width:250px;
	float:right;
	}
.commenter img{
	margin:10px 10px 0 0;
	float:right;
	widtrh:32px;
	height:32px
	} 
.commenter h4{
	float:right;
	font-size:8PT;
	color:#6f6f6f;
	padding-left:5px;
	font-weight:bold;
	}
.comment_area h5{
	font-size:7PT;
	color:#6f6f6f;
	width:100px;
	float:right;
	margin-top:5px;
	margin-right:5px;
	padding-bottom:5px;
	}
.comment_text_area{
	width:100%;
	float:left;
	margin-left:5px;
	padding-bottom:10px;
	font-size:9pt;
	}
#comment_text_area textarea{
	font-size:9pt;
	}
.small_face{
	width:35px;
	height:35px;
	float:right;
	margin:8px 10px;
	}
.like{
	width:28px;
	height:29px;
	border:solid #ccc 1px;
	border-right:none;
	background:url(../img/like.jpg) no-repeat;
	position:absolute;
	top:10px;
	left:-30px;
}

#prof_vid img{
	margin-left:15px;
	
	}

#advertise_area_profile{
	position:absolute; 
	top:200px;
	right:0px;
	width:250px;
	height:490px;
}
	
#advertise_area_profile img{
 
	width:250px;
	height:250px;
	margin-top:10px;}
	
#new_face{
	width:200px;
	height:130px;
	text-align:right;
	direction:rtl;
	color:#fff;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:10pt;
	float:right
	}
#new_face .new_face{
	float:left;
	margin-left:4px;
	color:#900;
	width:60%;
	}
#new_face .new_f_desc{
	float:left;
	font-size:8pt;
	width:60%;
	margin-top:10px;
	}
#new_face_pho{
	width:50px;
	height:50px;
	float:right;
	margin:0 2px 0 0;
	border:groove 2px #fff;
	}
.account_apgraqde{
	font-family:Tahoma, Geneva, sans-serif;
	width:250px;
	height:1px;
	float:left;
	margin:0px 0 0 30px;
}.account_apgraqde a{
	color:#fff;
	}
.account_apgraqde a:hover{
	color:#c00d0e;
	}

/*---main v_card---*/

#main_v_card{
	width:90%;
	height:100px;
	margin:30px auto;
	font-size:10pt;
    padding: 5px;
    border: 1px solid #F5F5F5;
}
#main_v_card a{
	color:#c00d0e;
}
#main_v_card a:hover{
	color:#000;
}
#main_v_card img{
	width:125px;
	height:100px;
	float:left
}
#main_v_card h3{
	font-weight:bold;
	padding-bottom:5px;
    font-size: 16px;
}
#main_v_card li{
	width:150px;
	float:right;
	line-height:20px;
}
/*---v_card---*/
#container_card{
	width:100%;
	text-align:right;
	direction:rtl;
	float:left;
	font-family:Tahoma, Geneva, sans-serif;
	background:url(../img/pro-film.jpg) repeat-y;
}

#work_area{
	width:550px;
	margin-top:20px;
	float:left;
	border-radius:10px;
	margin-top:10px;
	font-size:10pt;
}


#work_area img{
	width:210px;
	height:250px;
	float:left;
	margin:20px 0 0 15px;
}
#desc{
	width:300px;
	min-height:280px;
	float:left;
	margin:10px 10px 0 0;
}
#full_desc p{
	width:70%;
	border-bottom:groove 1px #000;
	padding-top:10px;
	
	}
#full_desc a{
		color:#000;
		text-decoration:none;
	}
	#full_desc a:hover{
		color:#c00d0e;
	}
.full_cast{
	color:#c00d0e;
	text-decoration:none;
	font-size:9pt;
	}
.full_cast:hover{
	color:#000;
	}
#desc h3{
	float:right;
	border-bottom:groove 1px #000;
	font-weight:bold;
	padding-bottom:10px;
}

#explanation {
	padding-top:10px;
	width:98%;

	}
#cast_right{
	width:230px;
	float:right;
}
#cast_left{
	width:230px;
	float:left;

}

.acters{
	width:100%;
	float:left;
	margin-top:10px;
}
.artists{
	width:90%;
	text-align:left;
	height:30px;
	border-bottom:groove 1px #CCC;
	font-size:10pt;
	list-style:none;
	padding-top:15px;
	line-height:30px;
}
.artists a{
	text-decoration:none;
	color:#000;
}
.artists a:hover{
	color:#c00d0e;
}
.artists img{ 
float:right;
width:25px;
height:25px;
border:solid 1px #c00d0e;
}


.directors{
	width:100%;
	float:left;
	margin-top:10px;
}
.decorators_cast{
	width:95%;
	height:40px;
	float:left;
	margin:0 auto 0 auto;
	margin-top:10px;
	border-bottom:groove 1px #CCC;
	font-size:10pt;
}

#add_comm_ico{
	width:100%;
	height:30px;
	background:url(../img/form_icon.jpg) no-repeat right center;
	float:right;
	font-size:10pt;
	margin-top:10px;
	}
#add_comm_ico a{
	margin-right:40px;
	line-height:25px;
	text-decoration:none

	
	}
#profile_info_r{
	width:300px;
	float:left;
	margin:10px 0 0;
	text-align:right;
	color:#000;
	font-size:14px;
	}
#profile_info_r p{
	width:90px;
	float:right;
	text-align:left;
	padding-left:10px;
	font-weight:bold

	}
#profile_info_r li:last-child{
	border:none
	}
#profile_info_r li{
	border-bottom:solid #CCC 1PX;
	padding-bottom:5px;
	}

#comment_form_lable{width:170px; float:right; margin-top:10px; font-weight:bold}
#comment_form_lable p{font-size:10pt; padding-top:10px}
#comment_form_input p{font-size:10pt; padding-top:10px;}
#comment_form_input{width:300px; float:right; margin-top:10px}
#comment_form_input textarea{width:270px; height:100px;border-radius:4px }
#comment_form_submet{ width:17%; float:left; font-size:7pt; margin:10px 0 0 25px;}
#comment_form_submet input{ width:60px; height:20px}
#c_us_form{width:90%; margin:0 auto; }
#c_us_form input{border-radius:4px;}
#c_us_form select{border-radius:4px;}



#comment_form_lable_in{width:120px; float:right; margin-top:10px; text-align:left; padding-left:10px;font-weight:bold}
#comment_form_lable_in p{font-size:10pt; margin-top:10px; line-height:20px; color:#000;}
#comment_form_input_in p{font-size:10pt; margin-top:10px;}
#comment_form_input_in{width:200px; float:right; margin-top:10px}
#comment_form_input_in textarea{width:200px; height:60px;border-radius:4px }
#comment_form_submet_in{ width:20%; float:left; font-size:9pt; margin:10px 0 0 55px}

#group{
	width:100%;
	float:right;
	margin-top:10px ;
	background:
	
	}
	#group li{
	width:70%;
	border-bottom:solid 2px #ccc;
	padding-top:5px;
	margin:0px 40px 0 0;
	}
#group .profile_img {
	width:50px;
	height:50px;
	float:right;
	border:solid 1px #000 
	}
#group h2{
	width:100%;
	float:right;
	font-size:18pt;
	padding-bottom:10px;
	margin-right:30px
	}
#group p{
	width:50%;
	line-height:55px;
	text-align:center;
	padding-right:50px;
	}


label.custom-select {
    position: relative;
    display: inline-block;
}

    .custom-select select {
        display: inline-block;
        border: 2px solid #bbb;
        padding: 4px 3px 3px 5px;
        margin: 0;
        font: inherit;
        outline:none; /* remove focus ring from Webkit */
        line-height: 1.2;
        background: #f8f8f8;
        width:125px;
        -webkit-appearance:none; /* remove the strong OSX influence from Webkit */
        
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
    }

    /* for Webkit's CSS-only solution */
    @media screen and (-webkit-min-device-pixel-ratio:0) { 
        .custom-select select {
            padding-right:30px;   
			float:left;
        }
	
    }
    
    /* Since we removed the default focus styles, we have to add our own */
		  .custom-select {
            margin:10px 20px 0 0;
			font-weight:bold
	
        }
    .custom-select select:focus {
        -webkit-box-shadow: 0 0 3px 1px #c00;
        -moz-box-shadow: 0 0 3px 1px #c00;
        box-shadow: 0 0 3px 1px #c00;
    }
    
    /* Select arrow styling */
    .custom-select:after {
        content: "▼";
        position: absolute;
        top: 0;
        right:90px;
        bottom: 0;
        font-size: 60%;
        line-height: 30px;
        padding: 0 7px;
        background: #bbb;
        color: white;
        pointer-events:none;
        
        -webkit-border-radius: 0 6px 6px 0;
        -moz-border-radius: 0 6px 6px 0;
        border-radius: 0 6px 6px 0;
    }
    
    .no-pointer-events .custom-select:after {
        content: none;
    }
	
#Search_groups{
	width:50%;
	float:left;
	margin-left:-50px
	}
#Search_groups input{
	border-radius: 5px 6px 6px 5px;
	}