<IfModule mod_rewrite.c>

Options +FollowSymLinks
RewriteEngine on


RewriteRule ^css/(.*)$ ../files/css/admin/$1 [L,NC]
RewriteRule ^images/(.*)$ ../files/img/admin/$1 [L,NC]
RewriteRule ^flags/(.*)$ ../files/img/flags/$1 [L,NC]
RewriteRule ^js/(.*)$ ../files/js/admin/$1 [L,NC]


 </IfModule>

